body {
	color: #2c3e50;
	font-family: "Helvetica" "Arial" sans-serif;
	background-color: #F4C573;
	

}
.logo{		
	width:480px;
	height:568px;
	
	position:absolute;
	top:50%;
	margin-top: -274px;
	left: 50%;
	margin-left: -238px;

}

img {
	
	max-width: 100%;

}

#asmeninas{
	margin-top: 15px;
}


